/*---------------HEADER--------------*/

.header1,
.header2{
    margin: 0px 20px;
    width: 40%;
}

.logo{
    height: 100%;
   position: absolute;
    text-align: center;
    width: 20%;
}

.back--header
.header--logo{
    height: 100%;
    
}

.header{
    width: 100%;
    height: 55px;
    position: fixed;
    z-index: 1000;
    
}
.back--header{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center;
    left: 0;
    right: 0;

    z-index: 999;
   
}

.header1{
    position: absolute;
    left: 0;
    width: 40%;
    padding-left: 40px;
} 

.header2{
    position: absolute;
    right: 0;
    width: 40%;
    padding-right: 40px;
}

.navbarhidden{
    display: none;
}

.nav{
    flex-wrap: nowrap !important;
    justify-content: space-evenly !important;
}

.nav-item{
    line-height: 55px;
}
.nav-link{
    font-weight: 600;
    padding: 0 20px !important;
    position: relative;
    display: inline-block !important;
}
.nav--menu{
    position: absolute;
    width: 215px;
    padding-left: 0px;
    background-color: white;
   display: none;
}
.nav-link:hover {
    color: rgb(68 122 61);
}
.nav-link:hover .nav--menu{
    display: block;
    color: #388681 !important;
}

.nav--menu>li{
    padding: 0px 10px ;
    line-height: 40px !important;
}
.nav--menu>li:hover{
    background-color: rgb(197, 199, 201);
}
.form-item:hover .nav-form{
    display: block;
}
.nav-form{
    position: absolute;
    width: 310px;
    left: -265px;
    background-color: white;
    padding: 10px;
    display: none;
}

/*icon-hidden*/
.nav-header2-icon{
    display: none;
}
.navbar-toggler{
    display: none;
}
.img-hover
.cart-block{
    display: none !important;
}



/*slider*/

.slider{
    background-image: url("https://user-images.githubusercontent.com/60106565/119425177-18ad7480-bd31-11eb-9683-d7df9f92f450.jpg");
     padding-top: 48%;
     background-repeat: no-repeat;
     background-size: cover;
     top: 0px;
     position: relative;
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100%;
 }
 
 .content--slider{
     position: absolute;
     bottom: 0px;
     top: 50%;
     transform: translateY(-45%);
 }
 .slider__heading{
    font-size: 60px;
    color: #ecba39;
    padding-left: 50px;
    z-index: 1;
}
.slider__content{
    color: white;
    font-size: 20px;
}
.slider__button{
    display: flex;
    justify-content: center;
    margin: 60px auto;
}
.place-slider{
    margin: 0px 20px;
}
.btn__menu{
    animation: spinleft 3s ease-out ;
}
 .btn__order{
    animation: spinright 3s ease-out ;
}
.btn__space{
    animation: spinbottom 3s ease-out;
}

/*introduce*/

.introduce{
    width: 100%;
    
 }
 .introduce_first{
     display: flex;
     max-width: 1020px;
     left: 0px;
     right: 0px;
     margin: -113px auto 100px auto;
     position: relative;
     padding: 20px;
     background-color: white;
     justify-items: center;
     box-shadow: 3px 4px 3px rgb(206, 204, 204);
     margin-bottom: 50px;
 }
 .introduce--img{
     width: 55%;
     display: flex;
 }
 .in--img{
     margin: 0px -5px;
     display: flex;
     justify-content: space-evenly;
     width: 100%;
 }
 .in--img>img{
      
     width: 47%;
     display: block;
     margin: 0px 5px;
 }
 .introduce--content{
   
    width: 45%;
 }
 .introduce--content>h3{
    color: #ecba39;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}
.text-welcom{
   font-family:cursive;
   font-size: 20px;
}

.justify-content{
    text-align: justify;
    font-size: 14px;
}
.readmore{
    background-image: url('https://user-images.githubusercontent.com/60106565/119425301-501c2100-bd31-11eb-8b10-a51819549fa2.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width: 220px;
    color: white;
    text-align: center;
    margin: 10px auto;
}
.readmore>a{
    line-height: 50px;
    color: white !important;
    text-decoration: none;
}

/*------introduce_second-------------*/

.introduce_second{
    position:relative;
    width: 100%;
  
    padding: 0;
   

}

.main--list1{
    width: 40%;
    height: 960px;
}
.back--list1{
    background-image: url('https://user-images.githubusercontent.com/60106565/119425188-1ea35580-bd31-11eb-9e50-0fbde1897327.jpg');
    position: absolute;
    left: 0;
    width: 40%;
    z-index: 1;
    height: 960px;
    background-size: cover;
    background-repeat: no-repeat;
}
.scroll--list1{
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    width: 90%;
    z-index: 4;
    position: relative;
}
.scroll--list1::-webkit-scrollbar {
    width: 7px;        
    height: 7px;       /* width of the entire scrollbar */
  }
.scroll--list1::-webkit-scrollbar-track {
    background: rgb(194, 193, 191); 
    border-radius: 10px;       /* color of the tracking area */
  }
  
.scroll--list1::-webkit-scrollbar-thumb {
    background-color: rgb(114, 114, 116);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 0px solid orange;  /* creates padding around scroll thumb */
  }
.menu--list_1{
   
    display: flex;
    flex-wrap: wrap;
}
.menu--list_1>a{
    width: 50%;
    height: 209px;
    z-index: 3;
    border-right: 1px solid #757171;
    border-bottom: 1px solid #757171;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.items{
    width: 30%;
    margin: 0px auto;
   
}
.menu--list_1>a:hover .items{
    animation: spin01 1s ease ;
}
.menu--list_1>a>p{
    color: white;
    font-size: 23px;
    margin-top: 15px;
}






.main--list2{
    width: 60%;
    height: 960px;
}
.back--list2{
    background-color: rgb(238, 186, 42);
    position: absolute;
    right: 0;
    width: 60%;
    z-index: 1;
    height: 960px;

}
.menu--list_2{
  
    z-index: 3;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.menu--heading{
    font-size: 35px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 20px auto;
    width: 100%;
    height: 35px;
    font-weight: 700;
    letter-spacing: 3px;
    z-index: 2;
}
.text-center{
    text-align: center;
}
.menu--main{
    z-index: 2;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
/*
.menu--img{
    z-index: 2;
    display: inline-block;
    width: 36%;
    text-align: center;
    margin: 30px 0px 30px 80px;
 }
 */
 .menu--img{
    z-index: 2;
    display: inline-block;
    width: 50%;
  
 }
 .menu--img:hover{
   
 }
 .menu--img_link{
     width: 100%;
 }
 .menu--img_link>img{
     width: 100%;
     border-radius: 10px;
    
 }
 .menu--img>p{
     color: azure;
     font-weight: 600;
 }
 .menu--img__detail{
   padding-top: 5px;
 }
 .menu--img__detail>p{
     margin: 5px auto !important;
 }
 .name-item{
     margin-top: 20px;
     
 }
 .price-item__color{
     color: #074743;
 }
.button--menu{
    margin-top: 10px;
    padding-bottom:30px ;
}
 .btn-last{
     display: flex;
     height: 35px;
     margin-top: -34px;
     z-index: 3;

 }
 .logo
.card{
    border: 0px !important;
    background-color: transparent !important;
    margin: auto;
    width: 90% !important;
}
.card-body{
    padding: 0px !important;
}
.img-hover{
    position: relative;
    width: 90%;
    margin: auto;
}
.card-img-top{
    width: 100% !important;
}
.overlay{
    position: absolute;
    transition: all .4s ease;
    opacity: 0;
    
}
.overlay-bottom{
    height: 0;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #24d6be;
}
.card:hover .overlay{ 
    opacity: 0.5;
}
.card:hover .overlay-bottom{
    height: 100%;
}
/*mission*/
.mission{
    z-index: 9;
    height: 655px;
}
 .mission--heading{
    background-color: #074743;
   padding: 10px;
   margin-bottom: 40px;
 }
 .mission--heading__in{
     height: 60px;
     border: 2px dashed white;
     background-color: #074743;
     margin: auto;
     color: white;
 }
 
 .mission--img{
     display: flex;
    position: relative;
     width: 100%;
     height: 100%;
     margin-top: 50px;
     margin-bottom: 105px;
 }
 .mission--img_item{
     display: flex;
     margin-bottom: 40px;
 }
 .mission--img3 .mission--img_item{
    flex-direction: row-reverse;
 }
 .mission--img_item:hover .mission--items{
    animation: spin01 1s ease ;
 }
 
.mission--img1{
    width: 400px;
    left: 0px;
    position: absolute;
}
.mission--img3{
    width: 400px;
    right: 0px;
    position: absolute;
}
 .mission--img2{
    background: url("https://user-images.githubusercontent.com/60106565/119425240-37ac0680-bd31-11eb-8a5b-565ed5dc5df1.png") center center no-repeat;;
    width: 422px;
    height:  390px;
    background-size: cover;
    margin: 0px auto;
    position: relative;
 }
 .description{
     margin-left: 20px;
     margin-right: 20px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     margin-top: 15px;
 }
 .description>h3{
     font-size: 1.5rem;
 }
 .description>p{
     font-size: 13px;
 }

/*feedback*/
.feedback{
    width: 100%;
    background-color: #074743;
    position: relative;
    height: 570px;
   margin-bottom:  65px;
    padding-top: 20px;
}
.fb--back{
    top: -68px;
    right: -8px;
    width: 21%;
    height: 208px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 2;
    background-image: url("https://user-images.githubusercontent.com/60106565/119425239-37137000-bd31-11eb-87bd-3c1612906136.png")
}
.fb--wave-up{
    background-image: url("https://user-images.githubusercontent.com/60106565/119425348-5f02d380-bd31-11eb-9744-6d8f69d0a678.png");
    background-repeat: repeat-x;
    position: absolute;
    z-index: 1;
    top: -17px;
    height: 17px;
    width: 100%;
}
.fb--wave-down{
    background-image: url("https://user-images.githubusercontent.com/60106565/119425350-5f9b6a00-bd31-11eb-8fee-fbbeaa2cc8b5.png");
    background-repeat: repeat-x;
    position: absolute;
    z-index: 1;
    bottom: -17px;
    height: 17px;
    width: 100%;
}
.fb--heading{
    width: 100%;
    padding: 55px 0px 20px;
    color: #ecba39;
}

.fb--content{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
.fb1{
    width: 300px;
    height: 300px;
   
}
.fb1-center{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.fb1--content{
    position: relative;
    padding: 40px 60px ;
    color: #fff !important;
    text-align: center;
    transition: 0.5s;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.fb1--avt{
    border-radius: 50%;
    position: absolute;
    top: -52px;
    left: 15px;
    width: 35%;
    border: 2px solid white;
}
.fb1--name{
    color: white;
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}


.fb1-center span:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 58% 63% 56% 67% / 51% 48% 56%;
    transition: 0.5s;
    animation: animate1 3s linear infinite;
}
.fb1-center:hover span:nth-child(1){
    border: none;
    background-color: #ecba39;
}
.fb1-center span:nth-child(2){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 58% 62% 65% 57% / 48% 54% 56%;
    transition: 0.5s;
    animation: animate2 4s linear infinite;
}
.fb1-center:hover span:nth-child(2){
    border: none;
    background-color: #ecba39;
}
.fb1-center span:nth-child(3){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 48% 52% 53% 55% / 50% 54% 59%;
    transition: 0.5s;
    animation: animate1 5s linear infinite;
}
.fb1-center:hover span:nth-child(3){
    border: none;
    background-color: #ecba39;
}

/*news*/
.media{
    margin-bottom: 50px;
}
.media--main{
    display: flex;
}
.medialist{
    display: flex;
}
.media--news1{
    display: flex;
    height: 220px;
    margin: 15px 0px;
}
.nav-link
.media--news1__img{
    width: 40%;
    margin: 0px 12px 12px 0px;
}
.media--news1__content{
    width: 60%;
    margin: 16px auto;
}
.ahihi{
    background-color: aqua;
    height: 1000px;
    width: 100%;
}
.media--content2{
    margin: 20px auto 0px;
}
.media--news1-button{
    border: 0px;
    background-color: #e9b417;
    padding: 5px 17px;
    margin: 20px auto;
}
.media--content3{
    height: 105px;
    display: flex;
    justify-content:center;
    background-color: #e9b417;
}
.media--content3>iframe{
    margin: 0px 10px;
}

/*SPACE*/
.space{
    left: 0px;
    right: 0px;
    
}
.space--img1,
.space--img2{
    display: flex;
    margin-top: 30px;
    height: 260px;
    justify-content:space-between;
}
.space--img1>img,
.space--img2>img{
    margin: 5px;
    width: 24%;
}


/*footer*/
.d-flexbox{
    display: flex !important;
}
.footer-1{
    position:relative;
    width: 100%;
  
    background-color: black;
}

.bg-footer{
    background-image: url('http://chyhicoffee.com/assets/images/cafe.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 40% !important;
    position: absolute;
    height: 53%;
    bottom: 0px;
    left: 0px;
}
.front-footer{
   color: white;
}
.form-change{
    background-color: black;
    outline: none ;
    color: white;
    border: 1px solid rgb(226 226 226 / 70%);
    padding: 5px 10px;
    border-radius: 3px;
    margin-bottom: 15px;
    width: 100%;
}
.footer-title{
    padding: 20px 0px;
    font-size: 20px;
}
.footer--heading{
      color: #faa61a;
     font-size: 30px;
     font-weight: 600;
}
.contact-page{
    padding-left: 0px;
    text-align: center;
}
.submit_contact{
   background-color: #faa61a !important;
   margin-bottom: 15px;
  
}